@theme {
	/* Reset colors */
	--color-*: initial;

	/* Color palettes (raw scales) */

	/* Primary */
	--primary-50: oklch(96.4% 0.022 58.79);
	--primary-100: oklch(92.9% 0.043 57.14);
	--primary-200: oklch(86.33% 0.088 57.33);
	--primary-300: oklch(80.1% 0.132 55.27);
	--primary-400: oklch(74.61% 0.171 51.56);
	--primary-500: oklch(69.96% 0.202 44.44);
	--primary-600: oklch(59.48% 0.169 45.48);
	--primary-700: oklch(48.38% 0.135 46.68);
	--primary-800: oklch(36.61% 0.098 49.07);
	--primary-900: oklch(23.64% 0.059 54.21);
	--primary-950: oklch(16.68% 0.037 67.32);

	/* Gray */
	--gray-50: oklch(98.5% 0.002 247.839);
	--gray-100: oklch(96.7% 0.003 264.542);
	--gray-200: oklch(92.8% 0.006 264.531);
	--gray-300: oklch(87.2% 0.01 258.338);
	--gray-400: oklch(70.7% 0.022 261.325);
	--gray-500: oklch(55.1% 0.027 264.364);
	--gray-600: oklch(44.6% 0.03 256.802);
	--gray-700: oklch(37.3% 0.034 259.733);
	--gray-800: oklch(27.8% 0.033 256.848);
	--gray-900: oklch(21% 0.034 264.665);
	--gray-950: oklch(13% 0.028 261.692);

	/* Success */
	--success-50: oklch(96.51% 0.039 145.27);
	--success-100: oklch(92.43% 0.093 144.78);
	--success-200: oklch(86.11% 0.179 143.82);
	--success-300: oklch(80.98% 0.246 142.88);
	--success-400: oklch(69.68% 0.229 142.62);
	--success-500: oklch(51.04% 0.165 142.67);
	--success-600: oklch(45.05% 0.145 142.69);
	--success-700: oklch(37.96% 0.12 142.76);
	--success-800: oklch(30.83% 0.094 142.85);
	--success-900: oklch(24.64% 0.074 142.93);
	--success-950: oklch(19.62% 0.054 143.17);

	/* Info */
	--info-50: oklch(95.45% 0.021 254.91);
	--info-100: oklch(91.99% 0.037 250.76);
	--info-200: oklch(83.18% 0.08 251.61);
	--info-300: oklch(75.35% 0.12 252.74);
	--info-400: oklch(68.19% 0.158 253.55);
	--info-500: oklch(60.85% 0.197 256.42);
	--info-600: oklch(54.79% 0.189 257.02);
	--info-700: oklch(46.61% 0.159 256.87);
	--info-800: oklch(38.3% 0.126 256.17);
	--info-900: oklch(30.18% 0.096 255.81);
	--info-950: oklch(25.19% 0.073 253.67);

	/* Warning */
	--warning-50: oklch(97.443% 0.01642 70.537);
	--warning-100: oklch(94.492% 0.03809 69.878);
	--warning-200: oklch(88.446% 0.07869 68.379);
	--warning-300: oklch(82.822% 0.11897 66.484);
	--warning-400: oklch(77.747% 0.15161 63.67);
	--warning-500: oklch(73.191% 0.17514 56.773);
	--warning-600: oklch(62.849% 0.15118 56.571);
	--warning-700: oklch(51.347% 0.12104 57.901);
	--warning-800: oklch(39.121% 0.09072 58.914);
	--warning-900: oklch(25.903% 0.05565 64.089);
	--warning-950: oklch(18.843% 0.0381 70.539);

	/* Danger */
	--danger-50: oklch(93.187% 0.03323 13.177);
	--danger-100: oklch(88.953% 0.05683 14.235);
	--danger-200: oklch(80.787% 0.1058 16.746);
	--danger-300: oklch(73.644% 0.15741 18.849);
	--danger-400: oklch(67.753% 0.20358 21.818);
	--danger-500: oklch(63.782% 0.23729 25.436);
	--danger-600: oklch(58.97% 0.24002 28.249);
	--danger-700: oklch(48.288% 0.19602 27.975);
	--danger-800: oklch(36.977% 0.14934 27.396);
	--danger-900: oklch(24.711% 0.09855 25.345);
	--danger-950: oklch(18.199% 0.07042 23.948);

	/* Semantic colors (used by UI components) */

	/* Brand */
	--color-primary: var(--primary-500);
	--color-primary-accent: var(--primary-50);
	--color-primary-hover: var(--primary-600);
	--color-primary-pressed: var(--primary-700);

	/* Grayscale */
	--color-gray: var(--gray-400);
	--color-black: var(--gray-900);
	--color-white: var(--gray-100);
	--color-muted: var(--gray-200);

	/* Alert */
	--color-success: var(--success-500);
	--color-success-accent: var(--success-50);
	--color-success-hover: var(--success-600);
	--color-success-pressed: var(--success-700);

	--color-info: var(--info-500);
	--color-info-accent: var(--info-50);
	--color-info-hover: var(--info-600);
	--color-info-pressed: var(--info-700);

	--color-warning: var(--warning-500);
	--color-warning-accent: var(--warning-50);
	--color-warning-hover: var(--warning-600);
	--color-warning-pressed: var(--warning-700);

	--color-danger: var(--danger-500);
	--color-danger-accent: var(--danger-50);
	--color-danger-hover: var(--danger-600);
	--color-danger-pressed: var(--danger-700);

	/* fonts */
	--font-*: initial;
	--font-sans: var(--font-custom-sans), sans-serif;
	/* --font-serif: var(--font-custom-serif), serif; */
	/* --font-mono: var(--font-custom-mono), monospace; */

	/* spacing */
	--responsive-width: 75rem;
	--navigation-height: 3.5rem;
	--half-responsive-width: calc(--responsive-width / 2);

	--spacing-responsive: min(90%, var(--responsive-width));
	--spacing-half-responsive: min(90%, var(--half-responsive-width));
	--spacing-form: 20.75rem;
	--spacing-split-form: min(90%, 27rem);
	--spacing-navigation: var(--navigation-height);

	/* Shadow */
	--shadow-*: initial;
	--shadow-base: 0 1px 3px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

	/* Rounded Corners */
	--radius-*: initial;
	--radius-base: 0.375rem;

	/* Blur */
	--blur-*: initial;
	--blur-base: 6px;

	/* Transition */
	--transition-duration*: initial;
	--transition-duration-base: 350ms;

	/* Z-Index */
	--z-index-*: initial;
	--z-index-modal: 4;
	--z-index-blur: 3;
}
